
/* Your CSS Code here. */
.holder{
	
	height:100px;
	width:100px;
	background-color:green;
	background-color:green;
	justify-content:center;
	align-items: center;
}
.item-1{
/* 	display:flex; */
	font-size:50px;
	margin-right:auto;
	
	
}